In [5]:
import pandas as pd

stock_dir = "../225_data"
stock_id = 1333
csv = stock_dir + "/" + str(stock_id) + ".csv"
df = pd.read_csv(
    csv,
    encoding="SHIFT-JIS",
    parse_dates=["日付"],
    na_values=["-"],
    dtype="float",
)
df

             日付      始値      高値      安値      終値        出来高   調整後終値
0    2021-07-02  2380.0  2403.0  2376.0  2395.0   145300.0  2395.0
1    2021-07-01  2373.0  2379.0  2358.0  2366.0   104100.0  2366.0
2    2021-06-30  2404.0  2411.0  2360.0  2361.0   222900.0  2361.0
3    2021-06-29  2418.0  2418.0  2401.0  2404.0   110200.0  2404.0
4    2021-06-28  2432.0  2439.0  2416.0  2432.0   112000.0  2432.0
...         ...     ...     ...     ...     ...        ...     ...
1768 2014-04-07  1703.0  1710.0  1687.0  1687.0   150400.0  1687.0
1769 2014-04-04  1716.0  1722.0  1709.0  1716.0   132900.0  1716.0
1770 2014-04-03  1727.0  1735.0  1715.0  1723.0   471300.0  1723.0
1771 2014-04-02  1711.0  1746.0  1711.0  1727.0   672700.0  1727.0
1772 2014-04-01  1681.0  1800.0  1681.0  1774.0  1548200.0  1774.0

[1773 rows x 7 columns]